<nav class="navbar">
    <div class="container">
        <ul>
            <li><a href="/">Home</a></li>
            {{#if authenticated}}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
